
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
}

span:first-of-type {
  background-color: white !important;
}

h1 {
  color: white;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 30%;
  padding: 0.1rem;
}

.button-box, .result {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100%;
}

button:hover {
  background-color: #c2185cab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, span {
  color: white;
  caret-color: white;
}
