.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#trf-number, #keyword {
  width: 30%;
  padding: 1rem;
  margin: 0.5rem;
}

.button-box {
  width: 30%;
  margin: 1rem;
}

button {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
