@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #303030;
}

.mat-hint {
  color: white !important;
}

.mat-form-field-label, .mat-form-field-required-marker {
  color: white !important;
}

.mat-input, .mat-form-field {
  padding: 0 !important;
  margin: 1rem;
  width: 40% !important;
}

.mat-form-field.mat-focused, .mat-form-field-ripple, .mat-form-field-underline {
  color: white !important;
}

.mat-form-field-ripple:last-of-type{
  background-color: white !important;
  display: none;
}

